* {
  margin: 0;
  padding: 0;
}

body {
  font-family:sans-serif;
}

header {
  background: #4CAF50;
  color: white;
  padding: 1rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background: #575757;
}

.containerleft {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.content {
  background: #c5b9b9;
  padding: 20px;
  display: flex;
}

.containerright {
  display: grid;
  gap: 20px;
  padding: 20px;
}

footer {
  background: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}